<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 Live Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!-- =====GOOGLE FONT===== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">


    
</head>
<body>
    <div class="container">
        <h1 class="text-center text-white">Covid 19 Live Tracker - <%= c_name %></h1>
        <h1 class="text-center text-muted data-updatedat"><%= c_LUP %> </h1>
        <div class="container">
            <a class="navbar-brand" href="/">Go back</a>
            <div class="navbar-collapse collapse show" id="navbarsExample07">
                <form action="/country" method="POST">
                <input class="form-control" type="text" name="country_name" placeholder="Search the country First letter must be capital" aria-label="Search">
                <button type="submit" class="btn btn-primary mt-2 btn-sm">Go</button>
              </form>
            </div>
          </div>

          <div class="s-box-container row">
            <div class="s-box col-lg-4 col-sm-12 col-md-6 tc">
                <div class="bar"></div>
                <h3>Total Confirmed</h3>
                <h1 id="data-totalconfirmed" class="counter-s"><%= c_TC %></h1>
                <p>Number of Total confirmed cases of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 td">
                <div class="bar"></div>
                <h3>Total Death</h3>
                <h1 id="data-totaldeath" class="counter-s" ><%= c_TD %> </h1>
                <p>Number of Total Death cases <br> of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 tr">
                <div class="bar"></div>
                <h3>Total Recovered</h3>
                <h1 id="data-totalrecovered" class="counter-s" ><%= c_TR %> </h1>
                <p>Number of Total Recovered cases of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 nc">
                <div class="bar"></div>
                <h3>New Confirmed</h3>
                <h1  id="data-newconfirmed" class="counter-s"><%= c_NC %></h1>
                <p>Number of New confirmed cases of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 nd">
                <div class="bar"></div>
                <h3>New Death</h3>
                <h1  id="data-newdeath" class="counter-s"><%= c_ND %> </h1>
                <p>Number of New Death cases of <br> COVID - 19</p>
            </div>
            <div class="s-box col-lg-4 col-sm-12 col-md-6 nr">
                <div class="bar"></div>
                <h3>New Recovered</h3>
                <h1 id="data-newrecovered" class="counter-s"><%= c_NR %></h1>
                <p>Number of New Recovered cases of <br> COVID - 19</p>
            </div>
        </div>
    </div>
</body>
</html>