<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 Live Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!-- =====GOOGLE FONT===== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


    
</head>
<body>
    <div class="container">
        <h1 class="text-center text-white">Covid 19 Live Tracker - <%= c_name %></h1>
        <h1 class="text-center text-muted data-updatedat"><%= c_LUP %> </h1>
        <div class="container">
            <a class="navbar-brand" href="/">Go back</a>
            <div class="navbar-collapse collapse show" id="navbarsExample07">
                <form action="/country" method="POST">
                <input class="form-control" type="text" name="country_name" placeholder="Country - First letter must be capitalized" aria-label="Search">
                <button type="submit" class="btn btn-primary mt-2 btn-sm">Go</button>
              </form>
            </div>
          </div>

          <div class="s-box-container row">
            <div class="s-box col-lg-4 col-sm-12 col-md-6 tc">
                <div class="bar"></div>
                <h3>Total Confirmed</h3>
                <h1 id="data-totalconfirmed" class="counter-s"><%= c_TC %></h1>
                <p>Number of Total confirmed cases of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 td">
                <div class="bar"></div>
                <h3>Total Death</h3>
                <h1 id="data-totaldeath" class="counter-s" ><%= c_TD %> </h1>
                <p>Number of Total Death cases <br> of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 tr">
                <div class="bar"></div>
                <h3>Total Recovered</h3>
                <h1 id="data-totalrecovered" class="counter-s" ><%= c_TR %> </h1>
                <p>Number of Total Recovered cases of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 nc">
                <div class="bar"></div>
                <h3>New Confirmed</h3>
                <h1  id="data-newconfirmed" class="counter-s"><%= c_NC %></h1>
                <p>Number of New confirmed cases of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 nd">
                <div class="bar"></div>
                <h3>New Death</h3>
                <h1  id="data-newdeath" class="counter-s"><%= c_ND %> </h1>
                <p>Number of New Death cases of <br> COVID - 19</p>
            </div>
            <div class="s-box col-lg-4 col-sm-12 col-md-6 nr">
                <div class="bar"></div>
                <h3>New Recovered</h3>
                <h1 id="data-newrecovered" class="counter-s"><%= c_NR %></h1>
                <p>Number of New Recovered cases of <br> COVID - 19</p>
            </div>
        </div>
           <canvas id="myChart" width="100" height="100"></canvas>
    </div>
<script>
        
    
         var country_name ='<%- c_name %>';
        var Total_Confirmed ='<%- c_TC %>'
        var Total_Death='<%- c_TD %>'
        var Total_Recovered='<%- c_TR %>'
        var New_Confirmed='<%- c_NC %>'
        var New_Death='<%- c_ND %>'
        var New_Recovered='<%- c_NR%>'

drawchart();
 function drawchart(){
    var country = [];
    var confirmed = [];
    var n_confirmed = [];
    var recovered = [];
    var n_recovered = [];
    var deaths = [];
    var n_deaths = [];
    country.push(country_name);
    confirmed.push(Total_Confirmed);
    n_confirmed.push(New_Confirmed);
    recovered.push(Total_Recovered);
    n_recovered.push(New_Recovered);
    deaths.push(Total_Death);
    n_deaths.push(New_Death);

    // Chart initialization
    var myChart = document.getElementById("myChart").getContext("2d");
    var chart = new Chart(myChart, {
      type: "bar",
      data: {
        labels: country,
        datasets: [
          {
            label: "Total Confirmed Cases",
            data: confirmed,
            backgroundColor: "red",
            minBarLength: 100,
          },
          {
            label: "New Confirmed Cases",
            data: n_confirmed,
            backgroundColor: "#ce1212",
            minBarLength: 100,
          },
          {
            label: "Total Recovered Cases",
            data: recovered,
            backgroundColor: "green",
            minBarLength: 100,
          },
          {
            label: "New Recovered Cases",
            data: n_recovered,
            backgroundColor: "#228B22",
            minBarLength: 100,
          },
          {
            label: "Total Deceased",
            data: deaths,
            backgroundColor: "blue",
            minBarLength: 100,
          },
          {
            label: "New Deceased",
            data: n_deaths,
            backgroundColor: "#4070F4",
            minBarLength: 100,
          },
        ],
      },
      option: {},
    });
    }
        </script>
    
</body>
</html>
