<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 Live Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!-- =====GOOGLE FONT===== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center text-white">Covid 19 Live Tracker - Global</h1>
        <h1 class="text-center text-muted data-updatedat"><%= LUP %> </h1>

        <div class="row">
            <div class="col-md-12 mt-lg-4 mt-2">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <button onclick="refreshData()"class="btn btn-primary btn-block">Refresh Data</button>
                        <a href="/country" class="btn btn-primary btn-block cn-btn">search by country</a>
                </div>
            </div>
            <?php include('../c_dashboard.php');?>
        </div>


        <div class="s-box-container row">
            <div class="s-box col-lg-4 col-sm-12 col-md-6 tc">
                <div class="bar"></div>
                <h3>Total Confirmed</h3>
                <h1 id="data-totalconfirmed" class="counter-s"><%= TC %></h1>
                <p>Number of Total confirmed cases of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 td">
                <div class="bar"></div>
                <h3>Total Death</h3>
                <h1 id="data-totaldeath" class="counter-s" ><%= TD %> </h1>
                <p>Number of Total Death cases <br> of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 tr">
                <div class="bar"></div>
                <h3>Total Recovered</h3>
                <h1 id="data-totalrecovered" class="counter-s" ><%= TR %> </h1>
                <p>Number of Total Recovered cases of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 nc">
                <div class="bar"></div>
                <h3>New Confirmed</h3>
                <h1  id="data-newconfirmed" class="counter-s"><%= NC %></h1>
                <p>Number of New confirmed cases of <br> COVID - 19</p>
            </div>

            <div class="s-box col-lg-4 col-sm-12 col-md-6 nd">
                <div class="bar"></div>
                <h3>New Death</h3>
                <h1  id="data-newdeath" class="counter-s"><%= ND %> </h1>
                <p>Number of New Death cases of <br> COVID - 19</p>
            </div>
            <div class="s-box col-lg-4 col-sm-12 col-md-6 nr">
                <div class="bar"></div>
                <h3>New Recovered</h3>
                <h1 id="data-newrecovered" class="counter-s"><%= NR %></h1>
                <p>Number of New Recovered cases of <br> COVID - 19</p>
            </div>
        </div>
        
         <canvas id="myChart" width="100" height="100"></canvas>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    function refreshData(){
            clearData();
                var url="https://api.covid19api.com/summary"
                var data = '';
                $.get(url,(data)=>{

                    console.log(data.Global);

                    $("#data-totalconfirmed").html(`${data.Global.TotalConfirmed}`);
                    $("#data-newconfirmed").html(`${data.Global.NewConfirmed}`);
                    $("#data-totaldeath").html(`${data.Global.TotalDeaths}`);
                    $("#data-newdeath").html(`${data.Global.NewDeaths}`);
                    $("#data-totalrecovered").html(`${data.Global.TotalRecovered}`);
                    $("#data-newrecovered").html(`${data.Global.NewRecovered}`);
                    $(".data-updatedat").html(`Last Updated : ${data.Global.Date.slice(0,10)}`);
                })
        }
        function clearData(){
            $('#data').empty()
        }
        
         drawchart();
        function drawchart(){
            $.getJSON("https://api.covid19api.com/summary", function (data) {
        var country = [];
        var confirmed = [];
        var recovered = [];
        var deaths = [];


        $.each(data.Countries, function (id, obj) {
        country.push(obj.Country);
        confirmed.push(obj.TotalConfirmed);
        recovered.push(obj.TotalRecovered);
        deaths.push(obj.TotalDeaths);
        });

        // Chart initialization
        var myChart = document.getElementById("myChart").getContext("2d");
        var chart = new Chart(myChart, {
        type: "line",
        data: {
            labels: country,
            datasets: [
            {
                label: "Total Confirmed Cases",
                data: confirmed,
                backgroundColor: "red",
                minBarLength: 100,
            },

            {
                label: "Total Recovered Cases",
                data: recovered,
                backgroundColor: "green",
                minBarLength: 100,
            },

            {
                label: "Total Deceased",
                data: deaths,
                backgroundColor: "blue",
                minBarLength: 100,
            },

            ],
        },
        option: {},
        });
    });
}
        
       
 
</script>
</html>
